button{
    display: inline-block;
}
#count {
display: inline-block;
font-weight: bold;
}
#logo{
    background: url("./../assets/holberton-logo.jpg");
    background-repeat: none;
    background-size: contain;
    /* background-color: red; */
    width:500px;
    height:500px;
}