.App {
  text-align: center;
}

.App-logo {
  height: 200px;
  width: 200px;
  pointer-events: none;
}




.App-body {
  padding: 25px;
  border-top: 3px solid red;
  font: bold;
  font-size: 20px;
}


