.App {
  text-align: center;
}

.App-logo {
  height: 200px;
  width: 200px;
  pointer-events: none;
}




.App-header {
  /* background-color: #282c34; */

  display: flex;
  font-size: 12px ;
  color: red;
  align-items: center;
}
.App-body {
  padding: 25px;
  border-top: 3px solid red;
  font: bold;
  font-size: 20px;
}
.App-footer {
  margin-left: 1%; 
  width: 97%;
  border-top: 3px solid red;
  position: absolute;
  bottom: 0%;

}

.App-footer p {
  text-align: center;
  font-style: italic;
}

